In [1]:
import pandas as pd

In [2]:
lottery_data = pd.read_csv("unclear_data.csv", encoding = "unicode_escape")

In [3]:
lottery_data

,day_of_the_week,day,month,year,draw_id_number,nr1,nr2,nr3,nr4,nr5,nr6
0,Niedziela,27,1,1957,1,8,12,31,39,43,45
1,Niedziela,3,2,1957,2,5,10,11,22,25,27
2,Niedziela,10,2,1957,3,18,19,20,26,45,49
3,Niedziela,17,2,1957,4,2,11,14,37,40,45
4,Niedziela,24,2,1957,5,8,10,15,35,39,49
...,...,...,...,...,...,...,...,...,...,...,...
6851,Sobota,4,3,2023,6852,10,11,21,32,34,48
6852,Wtorek,7,3,2023,6853,18,20,36,37,44,46
6853,Czwartek,9,3,2023,6854,5,27,30,33,35,39
6854,Sobota,11,3,2023,6855,1,16,20,21,40,44
6855,Wtorek,14,3,2023,6856,8,12,15,21,36,42

In [4]:
lottery_data['day_of_the_week'].unique()

array(['Niedziela', 'Sobota', '\x8croda', 'Wtorek', 'Czwartek'],
      dtype=object)

Name of the day should be changed to Środa from '\x8croda'.

In [5]:
lottery_data.rename(columns = {'\x8croda':'Środa'}, inplace = True)

In [6]:
lottery_data['day_of_the_week'].unique()

array(['Niedziela', 'Sobota', '\x8croda', 'Wtorek', 'Czwartek'],
      dtype=object)

It didn't work because Środa is not a column :) , it's series cathegorical value.

In [7]:
lottery_data['day_of_the_week'].replace(to_replace=lottery_data['day_of_the_week'].unique()[2], value='Środa', inplace=True)

In [8]:
lottery_data['day_of_the_week'].unique()

array(['Niedziela', 'Sobota', 'Środa', 'Wtorek', 'Czwartek'], dtype=object)

Now we can observe that the name was replaced.

In [9]:
print(lottery_data.shape)

(6856, 11)

In [10]:
print(lottery_data.columns)

Index(['day_of_the_week', 'day', 'month', 'year', 'draw_id_number', 'nr1',
       'nr2', 'nr3', 'nr4', 'nr5', 'nr6'],
      dtype='object')

In [11]:
print(lottery_data.dtypes)

day_of_the_week    object
day                 int64
month               int64
year                int64
draw_id_number      int64
nr1                 int64
nr2                 int64
nr3                 int64
nr4                 int64
nr5                 int64
nr6                 int64
dtype: object

In [12]:
print(lottery_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6856 entries, 0 to 6855
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   day_of_the_week  6856 non-null   object
 1   day              6856 non-null   int64
 2   month            6856 non-null   int64
 3   year             6856 non-null   int64
 4   draw_id_number   6856 non-null   int64
 5   nr1              6856 non-null   int64
 6   nr2              6856 non-null   int64
 7   nr3              6856 non-null   int64
 8   nr4              6856 non-null   int64
 9   nr5              6856 non-null   int64
 10  nr6              6856 non-null   int64
dtypes: int64(10), object(1)
memory usage: 589.3+ KB
None

In [13]:
print(lottery_data.head())

  day_of_the_week  day  month  year  draw_id_number  nr1  nr2  nr3  nr4  nr5  \
0       Niedziela   27      1  1957               1    8   12   31   39   43
1       Niedziela    3      2  1957               2    5   10   11   22   25
2       Niedziela   10      2  1957               3   18   19   20   26   45
3       Niedziela   17      2  1957               4    2   11   14   37   40
4       Niedziela   24      2  1957               5    8   10   15   35   39

   nr6
0   45
1   27
2   49
3   45
4   49

In [14]:
print(lottery_data.tail())

     day_of_the_week  day  month  year  draw_id_number  nr1  nr2  nr3  nr4  \
6851          Sobota    4      3  2023            6852   10   11   21   32
6852          Wtorek    7      3  2023            6853   18   20   36   37
6853        Czwartek    9      3  2023            6854    5   27   30   33
6854          Sobota   11      3  2023            6855    1   16   20   21
6855          Wtorek   14      3  2023            6856    8   12   15   21

      nr5  nr6
6851   34   48
6852   44   46
6853   35   39
6854   40   44
6855   36   42

In [15]:
useful_subset = lottery_data[['draw_id_number', 'nr1', 'nr2', 'nr3', 'nr4', 'nr5', 'nr6']]

In [16]:
useful_subset.iloc()

In [17]:
rows_with_missing_values = lottery_data.isnull().any(axis=1)
lottery_data[rows_with_missing_values]

Empty DataFrame
Columns: [day_of_the_week, day, month, year, draw_id_number, nr1, nr2, nr3, nr4, nr5, nr6]
Index: []

it is clear now that there is no missing data

In [18]:
lottery_data.to_csv('cleaned_data.csv', index=False)

analysis and visualization is in another file